In [1]:
print("Hello World")

Hello World

In [2]:
square=lambda x:x*x

In [4]:
x=5
square=lambda x:x*x
print(square(x))

25

In [11]:
text="knowledgehut"
for letter in text:
    if letter=='h':
        break
    print(letter)
print("The for loop stopped executing")

k
n
o
w
l
e
d
g
e
The for loop stopped executing

In [12]:
text="knowledge hut"
for letter in text:
    if letter==' ':
        print(" The Loop skipped the space ")
        continue
    print(letter)
print("The for loop stopped executing")

k
n
o
w
l
e
d
g
e
 The Loop skipped the space
h
u
t
The for loop stopped executing

In [14]:
level=int(input("Enter number of levels : "))
for level in range(1,level+1):
    for num in range(level):
        print(level,end=" ")
    print("\n")

Enter number of levels :  5

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [16]:
name=input("Enter your name : ")
print("Hii!!! \nGood Morning ",name)

Enter your name :  Sudha

Hii!!!
Good Morning  Sudha

In [17]:
def greet(name):
    print("Hello",name)

greet("Alice")

Hello Alice

In [19]:
#1:Print numbers from 1 to 10..
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
#2:Print even numbers from 1 to 20..
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
#3:Check if a number is positive ,negative or zero..
number=int(input("Enter a number : "))
if(number==0):
    print("The number is zero")
elif(number>0):
    print("This is a positive number")
else:
    print("This is a negative number")

Enter a number :  0

The number is zero

In [4]:
#4:Add two numbers using operators..
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
print("Addition is : ",num1+num2)

Enter the first number 2
Enter the second number 3

Addition is :  5

In [8]:
#5:Print multiplication table of a number..
n=int(input("Enter a number : "))
print("The multiplication table of ",n," is \n")
for i in range(1,11):
    print(i,"*",n,"=",i*n)

Enter a number :  5

The multiplication table of  5  is

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [1]:
#6:Find the largest among two numbers..
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
if(num1>num2):
    print(num1," is greater than ",num2)
else:
     print(num2," is greater than ",num1)

Enter the first number 23
Enter the second number 32

32  is greater than  23

In [1]:
#7:Use a while loop to print numbers 5 to 1.. 
n=5
while n>=1:
    print(n)
    n-=1

5
4
3
2
1

In [4]:
#8:Print all characters in a string..
str=input("Enter a string")
for letter in str:
    print(letter)

Enter a string subi sibanee

s
u
b
i

s
i
b
a
n
e
e

In [8]:
#9:Use logical operater to check if a number is between 10 and 50..
num=int(input("Enter the number"))
if(num>10 and num<50):
    print(num," is between 10 and 50")
else:
    print(num," is not in between 10 and 50")

Enter the number 87

87  is not in between 10 and 50

In [10]:
#10:Sum of first 10 natural numbers..
sum=0
for i in range (0,10):
    sum=sum+i
print("The sum of first 10 natural number is ",sum)

The sum of first 10 natural number is  45

In [13]:
#11:Print "odd" or "even " for numbers 1 to 10
print("The odd numbers are : ")
for i in range (1,11):
    if(i%2!=0):
        print(i)
print("The even numbers are : ")
for i in range (1,11):
    if(i%2==0):
        print(i)

The odd numbers are :
1
3
5
7
9
The even numbers are :
2
4
6
8
10

In [1]:
#12:Use "break" to stop loop when number is 5
for i in range(1,11):
    if(i==5):
        break
    print(i)

1
2
3
4

In [2]:
#13:Print 1 to 10 and use "continue" to skip printing 5..
for i in range(1,11):
    if(i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [3]:
#14:Print all elements in a list using a loop..
list=[20,49,56,73]
for el in list:
    print(el)

20
49
56
73

In [2]:
#15. Check if a number is divisible by both 3 and 5
n = int(input("Enter number: "))
if(n % 3 == 0 and n % 5 == 0):
    print(n," is divisible by both 3 and 5.")
else:
     print(n," is not divisible by both 3 and 5.")

Enter number:  4

4  is not divisible by both 3 and 5.

In [5]:
# 16. Square of all numbers from 1 to 5
for i in range(1, 6):
    print(i,"^2=",i**2)

1 ^2= 1
2 ^2= 4
3 ^2= 9
4 ^2= 16
5 ^2= 25

In [6]:
# 17. ASCII values of characters in a string
s = "abc"
for c in s:
    print(c, ord(c))

a 97
b 98
c 99

In [7]:
# 18. Countdown from 10 to 1
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [9]:
# 19. Check if a number is divisible by 2 or 3
n = int(input("Enter number: "))
if(n % 2 == 0 or n % 3 == 0):
    print(n," is divisible by 2 or 3")

Enter number:  6

6  is divisible by 2 or 3

In [22]:
# 20. Sum of digits of a number
sum=0
n=1234
while n>0:
    sum+=n%10
    n//=10
print(sum)

10

In [23]:
# 21. Swap two numbers using temp variable
a, b = 10, 20
print(a,b)
temp = a
a = b
b = temp
print(a, b)

10 20
20 10

In [8]:
# 22. Print numbers 1 to 100 divisible by 7
for i in range(1, 101):
    if i % 7 == 0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [9]:
# 23. Factorial of a number
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

In [29]:
# 24. Count vowels in a string
str=input("Enter a string : ")
count=0
for char in str:
    if char in "aeiouAEIOU":
        count=count+1
print("The number of vowels in the ",str," is ",count)

Enter a string :  subi

The number of vowels in the  subi  is  2

In [11]:
# 25. Reverse a number using loop
n = 1234
rev = 0
while n > 0:
    rev = rev*10 + n%10
    n //= 10
print(rev)

4321

In [12]:
# 26. Find maximum in list using loop
lst = [3, 5, 2, 8]
max_val = lst[0]
for i in lst:
    if i > max_val:
        max_val = i
print(max_val)

8

In [13]:
# 27. Prime number check using loop
n = 7
is_prime = True
for i in range(2, int(n**0.5)+1):
    if n % i == 0:
        is_prime = False
        break
print("Prime" if is_prime and n > 1 else "Not prime")

Prime

In [14]:
# 28. Sum of even numbers in list
lst = [1, 2, 3, 4, 6]
print(sum(i for i in lst if i % 2 == 0))

12

In [15]:
# 29. Number pattern using nested loops
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [32]:
# 30. Count frequency of digits in a number
n = 112233
freq = {}
for d in str(n):
    freq[d] = freq.get(d, 0) + 1
print(freq)

{'1': 2, '2': 2, '3': 2}

In [33]:
# 31. GCD of two numbers using loop
a, b = 48, 18
while b:
    a, b = b, a % b
print(a)

6

In [34]:
# 32. Check if a number is a palindrome
n = 121
print(str(n) == str(n)[::-1])

True

In [35]:
# 33. Count words in a sentence
s = "Hello world from Python"
print(len(s.split()))

4

In [36]:
# 34. Common elements in two lists
a = [1, 2, 3]
b = [2, 3, 4]
print([i for i in a if i in b])

[2, 3]

In [38]:
# 35. Grade students using elif
score = int(input("Enter score: "))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'F'
print(grade)

Enter score:  78

C

In [39]:
# 36. Right-angled triangle using *
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [40]:
# 37. Check if year is leap year
year = 2024
print(year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))

True

In [41]:
# 38. Fibonacci series using loop
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [35]:
# 39. Count upper and lowercase in a string
s = "Hello World "
upper = 0
lower = 0
for char in s:
    if char.isupper():
        upper+=1
    elif char.islower():
        lower+=1
print("Upper:", upper, "Lower:", lower)

Upper: 2 Lower: 8

In [43]:
# 40. Print numbers from 100 to 1 using loop
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1